body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:617px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:50px;
  width:375px;
  height:647px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:589px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:64px;
  width:374px;
  height:589px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:286px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:58px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:653px;
  width:374px;
  height:58px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:589px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:64px;
  width:1px;
  height:589px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:286px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:58px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:653px;
  width:1px;
  height:58px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
